{% extends "shop/base.html" %}

{% block title %}
  Dzięki
{% endblock %}

{% block content %}
  <h1>:)</h1>
  <p>Twoje zamówienie się powiodło. Numer zamówienia to: <strong>{{ order.id }}</strong>.</p>
{% endblock %}